@import '@fontsource/vollkorn/400.css';
@import '@fontsource/vollkorn/400-italic.css';
@import '@fontsource/vollkorn/700.css';
@import '@fontsource/vollkorn/700-italic.css';

@import '@fontsource/ibm-plex-sans/400.css';
@import '@fontsource/ibm-plex-sans/400-italic.css';
@import '@fontsource/ibm-plex-sans/700.css';
@import '@fontsource/ibm-plex-sans/700-italic.css';

@import '@fontsource/jetbrains-mono/400.css';
@import '@fontsource/jetbrains-mono/400-italic.css';
@import '@fontsource/jetbrains-mono/700.css';
@import '@fontsource/jetbrains-mono/700-italic.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		@apply scroll-smooth font-serif;

		font-synthesis: none;
		text-rendering: optimizeLegibility;
	}

	body {
		@apply text-black;
	}

	h1 {
		@apply text-2xl font-bold my-3;
	}

	h2 {
		@apply text-xl font-bold my-3;
	}

	h3 {
		@apply text-lg font-bold my-2.5;
	}

	h4 {
		@apply font-bold my-2.5;
	}

	p {
		@apply mb-3 last:mb-0;
	}

	dl {
		dt {
			@apply font-bold;
		}

		dd {
			@apply ml-4;
		}
	}
}

/* A11y outlines */
*[data-rac] {
	@apply outline-none;

	&[data-focus-visible] {
		@apply outline outline-2 outline-blue-500;
	}
}

.focus-outline {
	/* Non-react-aria only */
	@apply outline-none focus-visible:outline focus-visible:outline-2 focus-visible:outline-blue-500;
}

.round-button {
	@apply w-10 h-10 rounded-full;

	&[data-hovered],
	&[data-selected] {
		@apply bg-zinc-200;
	}

	&[data-pressed] {
		@apply bg-zinc-300;
	}
}

/* Tabs */
.roundout-tabs {
	@apply h-full;

	.react-aria-TabList {
		@apply flex flex-row h-full gap-2;
	}

	.react-aria-Tab {
		@apply relative cursor-pointer font-sans text-lg text-black outline-none border-transparent border-[1px] whitespace-nowrap;

		&[data-focus-visible] span {
			@apply outline outline-2 outline-blue-500 -outline-offset-2;
		}

		&[data-selected] {
			@apply bg-zinc-50 rounded-tl-[8px] rounded-tr-[8px] border-zinc-200 border-b-0;
			box-shadow: 0 2px rgb(250, 250, 250);

			/* https://css-tricks.com/tabs-with-round-out-borders/ */
			span::before,
			&::after {
				@apply absolute content-[''] w-[8px] h-[8px] bg-zinc-100 -bottom-[0.75px] border-b-[1px] border-zinc-200;
			}

			&::before,
			span::after {
				@apply absolute content-[''] w-2 h-2 -bottom-[1px] bg-zinc-50;
			}

			span::before {
				@apply rounded-br-full -left-[8px] border-r-[1px];
			}

			&::before {
				@apply -left-2;
			}

			span::after {
				@apply -right-2;
			}

			&::after {
				@apply rounded-bl-full -right-[8px] border-l-[1px];
			}
		}

		.dark &[data-selected] {
			box-shadow: 0 2px rgb(24, 24, 27);
		}

		span {
			@apply inline-flex items-center transition-none px-4 py-1.5 my-0.5 rounded-md;

			.roundout-tabs__close {
				@apply rounded-full p-0.5 transition-opacity duration-100;

				&[data-hovered] {
					@apply text-white bg-zinc-700;
				}

				&[data-pressed] {
					@apply text-white bg-zinc-600;
				}
			}
		}

		&:not([data-selected]) span {
			.roundout-tabs__close:not([data-focus-visible]) {
				@apply opacity-0;
			}
		}

		&[data-hovered]:not([data-selected]) span {
			@apply bg-zinc-50;

			.roundout-tabs__close {
				@apply opacity-100;
			}
		}
	}
}

@layer utilities {
	.no-scrollbar {
		/* https://dev.to/derick1530/how-to-create-scrollable-element-in-tailwind-without-a-scrollbar-4mbd */
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.react-aria-Link {
	@apply text-blue-800 hover:text-blue-700 hover:underline decoration-2 underline-offset-2 cursor-pointer;

	&.external {
		@apply after:content-['↗'];
	}
}

.react-aria-Popover {
	@apply outline-none rounded-lg bg-zinc-100 border-2 border-zinc-200;

	/* Animation from react-aria docs */
	&[data-placement='top'] {
		--origin: translateY(5px);
	}

	&[data-placement='bottom'] {
		--origin: translateY(-5px);
	}

	&[data-placement='left'] {
		--origin: translateY(5px);
	}

	&[data-placement='right'] {
		--origin: translateY(-5px);
	}

	&[data-entering] {
		animation: popover-slide 150ms;
	}

	&[data-exiting] {
		animation: popover-slide 150ms reverse ease-in;
	}
}

@keyframes popover-slide {
	from {
		transform: var(--origin);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

/* Menu */
.react-aria-Menu {
	@apply font-sans outline-none overflow-auto p-0.5 min-w-44;
}

.react-aria-MenuItem {
	@apply m-1 px-2 py-1 rounded-lg cursor-pointer;

	&[data-focused] {
		@apply bg-zinc-200 outline-none;
	}
}

.react-aria-Separator {
	@apply bg-zinc-200 h-0.5 mx-2 my-1;
}
