@import '@fontsource/vollkorn/400.css';
@import '@fontsource/vollkorn/400-italic.css';
@import '@fontsource/vollkorn/700.css';
@import '@fontsource/vollkorn/700-italic.css';

@import '@fontsource/ibm-plex-sans/400.css';
@import '@fontsource/ibm-plex-sans/400-italic.css';
@import '@fontsource/ibm-plex-sans/700.css';
@import '@fontsource/ibm-plex-sans/700-italic.css';

@import '@fontsource/jetbrains-mono/400.css';
@import '@fontsource/jetbrains-mono/400-italic.css';
@import '@fontsource/jetbrains-mono/700.css';
@import '@fontsource/jetbrains-mono/700-italic.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import 'iris/styles/index.css';

@import 'tailwindcss/utilities';

:root {
	@apply scroll-smooth font-serif;
}

body {
	@apply text-black;
}

.round-button {
	@apply w-10 h-10 rounded-full;

	-webkit-app-region: no-drag;

	&[data-hovered],
	&[data-selected] {
		@apply bg-iris-200;
	}

	&[data-pressed] {
		@apply bg-iris-300;
	}
}

.roundout-tabs {
	@apply h-full;

	.react-aria-TabList {
		@apply flex flex-row h-full gap-2;
	}

	.react-aria-Tab {
		@apply relative cursor-pointer font-sans text-lg text-black outline-none border-transparent border-[1px] whitespace-nowrap;

		-webkit-app-region: no-drag;

		&[data-focus-visible] span {
			@apply outline outline-2 outline-iris-500 -outline-offset-2;
		}

		&[data-selected] {
			@apply bg-iris-50 rounded-tl-[8px] rounded-tr-[8px] border-iris-200 border-b-0;
			box-shadow: 0 2px rgb(250, 250, 250);

			/* https://css-tricks.com/tabs-with-round-out-borders/ */
			span::before,
			&::after {
				@apply absolute content-[''] w-[8px] h-[8px] bg-iris-100 -bottom-[0.75px] border-b-[1px] border-iris-200;
			}

			&::before,
			span::after {
				@apply absolute content-[''] w-2 h-2 -bottom-[1px] bg-iris-50;
			}

			span::before {
				@apply rounded-br-full -left-[8px] border-r-[1px];
			}

			&::before {
				@apply -left-2;
			}

			span::after {
				@apply -right-2;
			}

			&::after {
				@apply rounded-bl-full -right-[8px] border-l-[1px];
			}
		}

		.dark &[data-selected] {
			box-shadow: 0 2px rgb(24, 24, 27);
		}

		span {
			@apply inline-flex items-center transition-none px-4 py-1.5 my-0.5 rounded-md;

			.roundout-tabs__close {
				@apply rounded-full p-0.5 transition-opacity duration-100 w-4 h-4;

				&[data-hovered] {
					@apply text-white bg-iris-700;
				}

				&[data-pressed] {
					@apply text-white bg-iris-600;
				}
			}
		}

		&:not([data-selected]) span {
			.roundout-tabs__close:not([data-focus-visible]) {
				@apply opacity-0;
			}
		}

		&[data-hovered]:not([data-selected]) span {
			@apply bg-iris-50;

			.roundout-tabs__close {
				@apply opacity-100;
			}
		}
	}
}

@layer utilities {
	.no-scrollbar {
		/* https://dev.to/derick1530/how-to-create-scrollable-element-in-tailwind-without-a-scrollbar-4mbd */
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.drag-region {
		-webkit-user-select: none;
		-webkit-app-region: drag;
	}
}
